<mat-card>
  <mat-card-title>{{ question.questionText }}</mat-card-title>
  <mat-card-subtitle>{{ question.type }}
    <p *ngIf="question.answer?.answeredAt">Answered: {{question.answer?.answeredAt| momentPipe : 'MMMM Do YYYY, h:mm:ss a'}}</p></mat-card-subtitle>
  <mat-card-subtitle>Created: {{question.createdAt | momentPipe : 'MMMM Do YYYY, h:mm:ss a'}}</mat-card-subtitle>
  <ng-container *ngIf="answerMode" [ngSwitch]="question.type">
    <ng-container *ngIf="!question.answer?.answeredAt">
      <mat-error *ngFor="let err of formErrors">{{err}}</mat-error>
    </ng-container>
    <app-open-answer-body (errorMsg)="errorMsg($event)" (clearError)="clearError()" (answer)="setAnswer($event)" [answered]="question.answer?.answeredAt != undefined" *ngSwitchCase="'OpenQuestion'" [value]="question.answer?.answerValue"></app-open-answer-body>
    <app-single-answer-body (errorMsg)="errorMsg($event)" (clearError)="clearError()" (answer)="setAnswer($event)" [answered]="question.answer?.answeredAt != undefined" *ngSwitchCase="'SingleSelect'" [value]="question.answer?.answerValue" [options]="question.options"></app-single-answer-body>
    <app-multi-answer-body (errorMsg)="errorMsg($event)" (clearError)="clearError()" (answer)="setAnswer($event)" [answered]="question.answer?.answeredAt != undefined" [value]="question.answer?.answerValue" *ngSwitchCase="'MultiSelection'" [options]="question.options"></app-multi-answer-body>
  </ng-container>
  <mat-card-actions align="end">
    <button mat-button (click)="saveAnswer()"  *ngIf="answerMode  && !question.answer?.answeredAt" [disabled]="formHasError">Answer</button>
    <button mat-button (click)="unanswer.emit(question.createdAt)" *ngIf="answerMode && question.answer?.answeredAt">Un-Answer</button>
    <button mat-button (click)="delete.emit(question.createdAt)" *ngIf="!answerMode">Delete</button>
    <button mat-button [routerLink]="['questions-crude/edit/',  question.createdAt ]" *ngIf="!answerMode">Edit</button>
  </mat-card-actions>
</mat-card>
